[fan]
pin:  FAN0
max_power: 1.0
kick_start_time: 0.500

# Hotend Cooling Fan
[heater_fan tool_fan]
pin:  FAN1
max_power: 1.0
hardware_pwm: false
kick_start_time: 0.500
heater: extruder
heater_temp: 75.0
fan_speed: 1.00

    # EXP1 header
    #EXP1_1=PE8, EXP1_3=PE9, EXP1_5=PE12, EXP1_7=PE14, EXP1_9=<GND>,
    #EXP1_2=PE7, EXP1_4=PE10, EXP1_6=PE13, EXP1_8=PE15, EXP1_10=<5V>,
    # EXP2 header
    #EXP2_1=SPI1_MISO, EXP2_3=PB1, EXP2_5=PB2, EXP2_7=PC15,  EXP2_9=<GND>,
    #EXP2_2=SPI1_SCK, EXP2_4=PA4, EXP2_6=SPI1_MOSI, EXP2_8=<RST>, EXP2_10=<NC>

[controller_fan psu_fan]
fan_speed: 0.6
idle_timeout: 30
idle_speed: 0.6
#heater:
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1
pin: EXP1_1
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.02
kick_start_time: 0.5
off_below: 0.3
tachometer_pin: ^EXP1_3
tachometer_ppr: 2
tachometer_poll_interval: 0.00015

[controller_fan tmc_fan]
pin: EXP1_5
stepper: stepper_x
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.02
kick_start_time: 0.5
off_below: 0.3
tachometer_pin: ^EXP1_7
tachometer_ppr: 2
tachometer_poll_interval: 0.00015

[controller_fan chamber_fan]
pin: FAN4
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.02    #PWM signal
hardware_pwm: False
kick_start_time: 0.5
heater: chamber_heater
fan_speed: 0.5
idle_timeout: 120
idle_speed: 1.0
stepper: 
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:

[fan_generic nevermore_fan]
pin: FAN3
max_power: 1.0
shutdown_speed: 1.0
#cycle_time:
hardware_pwm: False
kick_start_time: 0.5
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin: